<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.takml.mx_framework.onnx_plugin">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <service android:name="com.atakmap.android.takml.mx_framework.onnx_plugin.OnnxPluginService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.atakmap.android.takml.mx_framework.onnx_plugin.OnnxPluginService" />
            </intent-filter>
        </service>
    </application>
</manifest>
