<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.takml_framework.plugin">

<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<application
    android:allowBackup="false"
    android:extractNativeLibs="true"
    android:icon="@drawable/tak_ml_icon"
    android:label="@string/app_name"
    android:description="@string/app_desc"
    android:theme="@style/AppTheme">
    <meta-data
        android:name="plugin-api"
        android:value="${atakApiVersion}" />
    <meta-data
        android:name="app_desc"
        android:value="@string/app_desc" />

    <!--
		<provider android:name="com.javacodegeeks.android.contentprovidertest.BirthProvider"
            android:authorities="com.javacodegeeks.provider.Birthday">
        </provider>
		-->

    <service
        android:name="com.bbn.takml.framework.TakMlFramework"
        android:label="TAKML Framework Service"
		android:exported="true"
        android:enabled="true"
        tools:ignore="Instantiatable">

        <intent-filter>
            <action android:name="com.bbn.takml_framework.framework.TAKML_Framework" />
        </intent-filter>
    </service>
	
    <!-- allow for plugin discovery -->
       <activity android:name="com.atakmap.app.component"
           tools:ignore="MissingClass" android:exported="true">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>
       </activity>

<!--
    <service android:name="com.bbn.takml.framework.TakMlFramework" />
-->

</application>

</manifest>
