/*
 * OpenAPI definition
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.bbn.takml_server.client;

import com.bbn.takml_server.ApiCallback;
import com.bbn.takml_server.ApiClient;
import com.bbn.takml_server.ApiException;
import com.bbn.takml_server.ApiResponse;
import com.bbn.takml_server.Configuration;
import com.bbn.takml_server.Pair;
import com.bbn.takml_server.ProgressRequestBody;
import com.bbn.takml_server.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.io.File;
import com.bbn.takml_server.client.models.IndexRow;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ModelManagementApi {
    private ApiClient apiClient;

    public ModelManagementApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ModelManagementApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addModel
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call addModelCall(File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/add_model_wrapper";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (takmlModelWrapper != null)
        localVarFormParams.put("takmlModelWrapper", takmlModelWrapper);
        if (requesterCallsign != null)
        localVarFormParams.put("requesterCallsign", requesterCallsign);
        if (runOnServer != null)
        localVarFormParams.put("runOnServer", runOnServer);
        if (supportedDevices != null)
        localVarFormParams.put("supportedDevices", supportedDevices);

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call addModelValidateBeforeCall(File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        okhttp3.Call call = addModelCall(takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Add a new TAKML model, returns id for TAK ML Model
     * 
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object addModel(File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices) throws ApiException {
        ApiResponse<Object> resp = addModelWithHttpInfo(takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices);
        return resp.getData();
    }

    /**
     * Add a new TAKML model, returns id for TAK ML Model
     * 
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> addModelWithHttpInfo(File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices) throws ApiException {
        okhttp3.Call call = addModelValidateBeforeCall(takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add a new TAKML model, returns id for TAK ML Model (asynchronously)
     * 
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call addModelAsync(File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = addModelValidateBeforeCall(takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for downloadModel
     * @param modelHash  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call downloadModelCall(String modelHash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/get_model/{modelHash}"
            .replaceAll("\\{" + "modelHash" + "\\}", apiClient.escapeString(modelHash.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call downloadModelValidateBeforeCall(String modelHash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'modelHash' is set
        if (modelHash == null) {
            throw new ApiException("Missing the required parameter 'modelHash' when calling downloadModel(Async)");
        }

        okhttp3.Call call = downloadModelCall(modelHash, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Download a model binary by model hash
     * 
     * @param modelHash  (required)
     * @return byte[]
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public byte[] downloadModel(String modelHash) throws ApiException {
        ApiResponse<byte[]> resp = downloadModelWithHttpInfo(modelHash);
        return resp.getData();
    }

    /**
     * Download a model binary by model hash
     * 
     * @param modelHash  (required)
     * @return ApiResponse&lt;byte[]&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<byte[]> downloadModelWithHttpInfo(String modelHash) throws ApiException {
        okhttp3.Call call = downloadModelValidateBeforeCall(modelHash, null, null);
        Type localVarReturnType = new TypeToken<byte[]>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Download a model binary by model hash (asynchronously)
     * 
     * @param modelHash  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call downloadModelAsync(String modelHash, final ApiCallback<byte[]> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = downloadModelValidateBeforeCall(modelHash, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<byte[]>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for editModel
     * @param modelHash  (required)
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call editModelCall(String modelHash, File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/edit_model_wrapper/{modelHash}"
            .replaceAll("\\{" + "modelHash" + "\\}", apiClient.escapeString(modelHash.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (takmlModelWrapper != null)
        localVarFormParams.put("takmlModelWrapper", takmlModelWrapper);
        if (requesterCallsign != null)
        localVarFormParams.put("requesterCallsign", requesterCallsign);
        if (runOnServer != null)
        localVarFormParams.put("runOnServer", runOnServer);
        if (supportedDevices != null)
        localVarFormParams.put("supportedDevices", supportedDevices);

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call editModelValidateBeforeCall(String modelHash, File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'modelHash' is set
        if (modelHash == null) {
            throw new ApiException("Missing the required parameter 'modelHash' when calling editModel(Async)");
        }

        okhttp3.Call call = editModelCall(modelHash, takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Edit or replace an existing TAKML model by model hash
     * 
     * @param modelHash  (required)
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object editModel(String modelHash, File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices) throws ApiException {
        ApiResponse<Object> resp = editModelWithHttpInfo(modelHash, takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices);
        return resp.getData();
    }

    /**
     * Edit or replace an existing TAKML model by model hash
     * 
     * @param modelHash  (required)
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> editModelWithHttpInfo(String modelHash, File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices) throws ApiException {
        okhttp3.Call call = editModelValidateBeforeCall(modelHash, takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Edit or replace an existing TAKML model by model hash (asynchronously)
     * 
     * @param modelHash  (required)
     * @param takmlModelWrapper  (optional)
     * @param requesterCallsign  (optional)
     * @param runOnServer  (optional)
     * @param supportedDevices  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call editModelAsync(String modelHash, File takmlModelWrapper, String requesterCallsign, Boolean runOnServer, List<String> supportedDevices, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = editModelValidateBeforeCall(modelHash, takmlModelWrapper, requesterCallsign, runOnServer, supportedDevices, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getModelMetadata
     * @param modelHash  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getModelMetadataCall(String modelHash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/get_model_metadata/{modelHash}"
            .replaceAll("\\{" + "modelHash" + "\\}", apiClient.escapeString(modelHash.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getModelMetadataValidateBeforeCall(String modelHash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'modelHash' is set
        if (modelHash == null) {
            throw new ApiException("Missing the required parameter 'modelHash' when calling getModelMetadata(Async)");
        }

        okhttp3.Call call = getModelMetadataCall(modelHash, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get metadata for a specific model by model hash
     * 
     * @param modelHash  (required)
     * @return IndexRow
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IndexRow getModelMetadata(String modelHash) throws ApiException {
        ApiResponse<IndexRow> resp = getModelMetadataWithHttpInfo(modelHash);
        return resp.getData();
    }

    /**
     * Get metadata for a specific model by model hash
     * 
     * @param modelHash  (required)
     * @return ApiResponse&lt;IndexRow&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IndexRow> getModelMetadataWithHttpInfo(String modelHash) throws ApiException {
        okhttp3.Call call = getModelMetadataValidateBeforeCall(modelHash, null, null);
        Type localVarReturnType = new TypeToken<IndexRow>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get metadata for a specific model by model hash (asynchronously)
     * 
     * @param modelHash  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getModelMetadataAsync(String modelHash, final ApiCallback<IndexRow> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = getModelMetadataValidateBeforeCall(modelHash, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IndexRow>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getModels
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getModelsCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/get_models";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getModelsValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        okhttp3.Call call = getModelsCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get metadata for all models
     * 
     * @return List&lt;IndexRow&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndexRow> getModels() throws ApiException {
        ApiResponse<List<IndexRow>> resp = getModelsWithHttpInfo();
        return resp.getData();
    }

    /**
     * Get metadata for all models
     * 
     * @return ApiResponse&lt;List&lt;IndexRow&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndexRow>> getModelsWithHttpInfo() throws ApiException {
        okhttp3.Call call = getModelsValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<List<IndexRow>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get metadata for all models (asynchronously)
     * 
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getModelsAsync(final ApiCallback<List<IndexRow>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = getModelsValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndexRow>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for removeModel
     * @param hash  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call removeModelCall(String hash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/remove_model/{hash}"
            .replaceAll("\\{" + "hash" + "\\}", apiClient.escapeString(hash.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call removeModelValidateBeforeCall(String hash, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'hash' is set
        if (hash == null) {
            throw new ApiException("Missing the required parameter 'hash' when calling removeModel(Async)");
        }

        okhttp3.Call call = removeModelCall(hash, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Remove a model by hash
     * 
     * @param hash  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object removeModel(String hash) throws ApiException {
        ApiResponse<Object> resp = removeModelWithHttpInfo(hash);
        return resp.getData();
    }

    /**
     * Remove a model by hash
     * 
     * @param hash  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> removeModelWithHttpInfo(String hash) throws ApiException {
        okhttp3.Call call = removeModelValidateBeforeCall(hash, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Remove a model by hash (asynchronously)
     * 
     * @param hash  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call removeModelAsync(String hash, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = removeModelValidateBeforeCall(hash, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchModels
     * @param modelName  (optional)
     * @param modelType  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call searchModelsCall(String modelName, String modelType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_management/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (modelName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modelName", modelName));
        if (modelType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modelType", modelType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call searchModelsValidateBeforeCall(String modelName, String modelType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        okhttp3.Call call = searchModelsCall(modelName, modelType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Search Models
     * 
     * @param modelName  (optional)
     * @param modelType  (optional)
     * @return List&lt;IndexRow&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<IndexRow> searchModels(String modelName, String modelType) throws ApiException {
        ApiResponse<List<IndexRow>> resp = searchModelsWithHttpInfo(modelName, modelType);
        return resp.getData();
    }

    /**
     * Search Models
     * 
     * @param modelName  (optional)
     * @param modelType  (optional)
     * @return ApiResponse&lt;List&lt;IndexRow&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<IndexRow>> searchModelsWithHttpInfo(String modelName, String modelType) throws ApiException {
        okhttp3.Call call = searchModelsValidateBeforeCall(modelName, modelType, null, null);
        Type localVarReturnType = new TypeToken<List<IndexRow>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search Models (asynchronously)
     * 
     * @param modelName  (optional)
     * @param modelType  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call searchModelsAsync(String modelName, String modelType, final ApiCallback<List<IndexRow>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = searchModelsValidateBeforeCall(modelName, modelType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<IndexRow>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
