/*
 * OpenAPI definition
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package com.bbn.takml_server.client;

import com.bbn.takml_server.ApiCallback;
import com.bbn.takml_server.ApiClient;
import com.bbn.takml_server.ApiException;
import com.bbn.takml_server.ApiResponse;
import com.bbn.takml_server.Configuration;
import com.bbn.takml_server.Pair;
import com.bbn.takml_server.ProgressRequestBody;
import com.bbn.takml_server.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.bbn.takml_server.client.models.FeedbackResponse;
import java.io.File;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ModelFeedbackApi {
    private ApiClient apiClient;

    public ModelFeedbackApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ModelFeedbackApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for addModelFeedback
     * @param modelName  (optional)
     * @param modelVersion  (optional)
     * @param callsign  (optional)
     * @param inputText  (optional)
     * @param inputFile  (optional)
     * @param output  (optional)
     * @param isCorrect  (optional)
     * @param outputErrorType  (optional)
     * @param evaluationConfidence  (optional)
     * @param evaluationRating  (optional)
     * @param comment  (optional)
     * @param validInput  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call addModelFeedbackCall(String modelName, Double modelVersion, String callsign, String inputText, File inputFile, String output, Boolean isCorrect, String outputErrorType, Integer evaluationConfidence, Integer evaluationRating, String comment, Boolean validInput, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_feedback/add_feedback";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (modelName != null)
        localVarFormParams.put("modelName", modelName);
        if (modelVersion != null)
        localVarFormParams.put("modelVersion", modelVersion);
        if (callsign != null)
        localVarFormParams.put("callsign", callsign);
        if (inputText != null)
        localVarFormParams.put("inputText", inputText);
        if (inputFile != null)
        localVarFormParams.put("inputFile", inputFile);
        if (output != null)
        localVarFormParams.put("output", output);
        if (isCorrect != null)
        localVarFormParams.put("isCorrect", isCorrect);
        if (outputErrorType != null)
        localVarFormParams.put("outputErrorType", outputErrorType);
        if (evaluationConfidence != null)
        localVarFormParams.put("evaluationConfidence", evaluationConfidence);
        if (evaluationRating != null)
        localVarFormParams.put("evaluationRating", evaluationRating);
        if (comment != null)
        localVarFormParams.put("comment", comment);
        if (validInput != null)
        localVarFormParams.put("validInput", validInput);

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call addModelFeedbackValidateBeforeCall(String modelName, Double modelVersion, String callsign, String inputText, File inputFile, String output, Boolean isCorrect, String outputErrorType, Integer evaluationConfidence, Integer evaluationRating, String comment, Boolean validInput, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {

        okhttp3.Call call = addModelFeedbackCall(modelName, modelVersion, callsign, inputText, inputFile, output, isCorrect, outputErrorType, evaluationConfidence, evaluationRating, comment, validInput, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Add feedback to model
     * 
     * @param modelName  (optional)
     * @param modelVersion  (optional)
     * @param callsign  (optional)
     * @param inputText  (optional)
     * @param inputFile  (optional)
     * @param output  (optional)
     * @param isCorrect  (optional)
     * @param outputErrorType  (optional)
     * @param evaluationConfidence  (optional)
     * @param evaluationRating  (optional)
     * @param comment  (optional)
     * @param validInput  (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object addModelFeedback(String modelName, Double modelVersion, String callsign, String inputText, File inputFile, String output, Boolean isCorrect, String outputErrorType, Integer evaluationConfidence, Integer evaluationRating, String comment, Boolean validInput) throws ApiException {
        ApiResponse<Object> resp = addModelFeedbackWithHttpInfo(modelName, modelVersion, callsign, inputText, inputFile, output, isCorrect, outputErrorType, evaluationConfidence, evaluationRating, comment, validInput);
        return resp.getData();
    }

    /**
     * Add feedback to model
     * 
     * @param modelName  (optional)
     * @param modelVersion  (optional)
     * @param callsign  (optional)
     * @param inputText  (optional)
     * @param inputFile  (optional)
     * @param output  (optional)
     * @param isCorrect  (optional)
     * @param outputErrorType  (optional)
     * @param evaluationConfidence  (optional)
     * @param evaluationRating  (optional)
     * @param comment  (optional)
     * @param validInput  (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> addModelFeedbackWithHttpInfo(String modelName, Double modelVersion, String callsign, String inputText, File inputFile, String output, Boolean isCorrect, String outputErrorType, Integer evaluationConfidence, Integer evaluationRating, String comment, Boolean validInput) throws ApiException {
        okhttp3.Call call = addModelFeedbackValidateBeforeCall(modelName, modelVersion, callsign, inputText, inputFile, output, isCorrect, outputErrorType, evaluationConfidence, evaluationRating, comment, validInput, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Add feedback to model (asynchronously)
     * 
     * @param modelName  (optional)
     * @param modelVersion  (optional)
     * @param callsign  (optional)
     * @param inputText  (optional)
     * @param inputFile  (optional)
     * @param output  (optional)
     * @param isCorrect  (optional)
     * @param outputErrorType  (optional)
     * @param evaluationConfidence  (optional)
     * @param evaluationRating  (optional)
     * @param comment  (optional)
     * @param validInput  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call addModelFeedbackAsync(String modelName, Double modelVersion, String callsign, String inputText, File inputFile, String output, Boolean isCorrect, String outputErrorType, Integer evaluationConfidence, Integer evaluationRating, String comment, Boolean validInput, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = addModelFeedbackValidateBeforeCall(modelName, modelVersion, callsign, inputText, inputFile, output, isCorrect, outputErrorType, evaluationConfidence, evaluationRating, comment, validInput, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getFeedbackForModel
     * @param modelName  (required)
     * @param modelVersion  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public okhttp3.Call getFeedbackForModelCall(String modelName, Double modelVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/model_feedback/get_feedback";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (modelName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modelName", modelName));
        if (modelVersion != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("modelVersion", modelVersion));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new okhttp3.Interceptor() {
                @Override
                public okhttp3.Response intercept(okhttp3.Interceptor.Chain chain) throws IOException {
                    okhttp3.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getFeedbackForModelValidateBeforeCall(String modelName, Double modelVersion, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'modelName' is set
        if (modelName == null) {
            throw new ApiException("Missing the required parameter 'modelName' when calling getFeedbackForModel(Async)");
        }

        okhttp3.Call call = getFeedbackForModelCall(modelName, modelVersion, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all feedback for a model
     * 
     * @param modelName  (required)
     * @param modelVersion  (optional)
     * @return List&lt;FeedbackResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<FeedbackResponse> getFeedbackForModel(String modelName, Double modelVersion) throws ApiException {
        ApiResponse<List<FeedbackResponse>> resp = getFeedbackForModelWithHttpInfo(modelName, modelVersion);
        return resp.getData();
    }

    /**
     * Get all feedback for a model
     * 
     * @param modelName  (required)
     * @param modelVersion  (optional)
     * @return ApiResponse&lt;List&lt;FeedbackResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<FeedbackResponse>> getFeedbackForModelWithHttpInfo(String modelName, Double modelVersion) throws ApiException {
        okhttp3.Call call = getFeedbackForModelValidateBeforeCall(modelName, modelVersion, null, null);
        Type localVarReturnType = new TypeToken<List<FeedbackResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all feedback for a model (asynchronously)
     * 
     * @param modelName  (required)
     * @param modelVersion  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public okhttp3.Call getFeedbackForModelAsync(String modelName, Double modelVersion, final ApiCallback<List<FeedbackResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        okhttp3.Call call = getFeedbackForModelValidateBeforeCall(modelName, modelVersion, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<FeedbackResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
