<?xml version='1.0' standalone='yes'?>
<preferences>
<preference version="1" name="cot_streams">
<entry key="count" class="class java.lang.Integer">1</entry>
<entry key="description0" class="class java.lang.String">$serverName</entry>
<entry key="enabled0" class="class java.lang.Boolean">true</entry>
<entry key="connectString0" class="class java.lang.String">$ip:$port:$protocol</entry>
</preference>
<preference version="1" name="com.atakmap.app_preferences">
<entry key="clientPassword" class="class java.lang.String">$password</entry>
<entry key="caPassword" class="class java.lang.String">$password</entry>
<entry key="caLocation" class="class java.lang.String">$trustStoreLocation</entry>
<entry key="certificateLocation" class="class java.lang.String">$certificateLocation</entry>
<entry key="displayServerConnectionWidget" class="class java.lang.Boolean">true</entry>
<entry key="atakControlOtherUserNotification" class="class java.lang.Boolean">false</entry>
<entry key="atakPluginScanningOnStartup" class="class java.lang.Boolean">true</entry>
</preference>
</preferences>
