/* Copyright 2025 RTX BBN Technologies */
/* ------------------------------ Template Colors ------------------------------ */
:root {
    --Branding-text: #FFFFFF;
    --Logo: #FCA311;
    --Orange: #FCA311;
    --Primary: 140 184 232;
    --Accent: 20 33 61;
    --AccentTwo: 142 132 255;
    --AccentThree: 142 132 255;
    --AccentThree: 142 132 255;
    --Black: #000;
    --ModalBG: #2c2f33;
    --Lighten: 255 255 255;
    --Darken: 0 0 0;
    --MainWhite: 249 249 249;
    --Danger: 167 54 46;
    --LoudDanger: 247 61 61;
    --Success: 47 52 147;
    --SuccessIcon: 47 52 147;
    --Disabled: #999999;
    --ColorWay1: #a2dcfd;
    --ColorWay2: #c285bf;
    --ColorWay3: #dbdcac;
    --ColorWay4: #c0916b;
    --Text-color: #ccc;
    --Bright-text: white;
    --Other-text: #f9f9f9;
    --Button-text: #e2e2e2;
    --Version-text: #6a6a6a;
    --LightGreen: #95ec88;
    --Green: #79d66b;
    --DarkGreen: #3b8b02;
    --Green2: #479d0b;
    --DarkGray: #282c34;
    --MediumGray: #3f4551;
    --LightGray: #525a6b;
    --DarkRed: #961623;
    --Red: #a41826;
    --MediumRed: #b91b2b;
    --LightRed: #ff7979;
    --BrightRed: #fc0404;
    --DarkBlue: #0a3e76;
    --DarkerBlue: #093769;
    --DarkerBlue1: #0a4380;
    --DarkerBlue2: #265c96;
    --DropdownColor: #1f2937;
    --DropdownColorHover: #222d3c;
    --GrayBlue: #3a6081;
    --MediumBlue: #628ebd;
    --LightBlue: #8cb8e8;
    --BrightBlue: #0c71ff;
    --BrightBlue2: #2196F3;
    --ListItem: #373b47;
    --ListItemLight: #454c5a;
    --AppBackground: #242424;
    --MenuBackground: #151515;
    --AccordionBackground: #282c34;
    --AccordionBackgroundHover: #2e333d;
    --AccordionBackgroundLight: #31363f;
    --White: #ffffff;
    --Gray: #d1d1d1;
    --Black: #000000;
    --Yellow: #feee42;
    --NinetyPercentAccuracy: #79d66b;
    --SixtyPercentAccuracy: #feee42;
    --ThirtyPercentAccuracy: #FCA311;
    --ZeroPercentAccuracy: #ae3440;
    --GraySubheader: #c8c8c8;
    --LightPurple: #c678ce;
    --BarChartColor: #45b5d2;
    --BarChartColorHover: #4585d2;
}